<%- include("../components/loggedHeader"); %>
<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 mx-auto sm:px-6 lg:px-8 lg:py-14">
	<!-- Card -->
	<div class="p-4 bg-white shadow rounded-xl sm:p-7">
		<div class="mb-8">
			<h2 class="text-xl font-bold text-gray-800">Profile</h2>
			<p class="text-sm text-gray-600">Manage your name, password and account settings.</p>
		</div>

		<form>
			<!-- Grid -->
			<div class="grid gap-2 sm:grid-cols-12 sm:gap-6">
				<div class="sm:col-span-3">
					<label class="inline-block text-sm text-gray-800 mt-2.5">Profile photo</label>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<div class="flex items-center gap-5">
						<img
							class="inline-block w-16 h-16 rounded-full ring-2 ring-white"
							src="<%= user.avatar %>"
							alt="Image Description"
						/>
						<div class="flex gap-x-2">
							<div>
								<button
									type="button"
									class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium text-gray-700 align-middle transition-all bg-white border rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600"
								>
									<svg
										class="w-3 h-3"
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										viewBox="0 0 16 16"
									>
										<path
											d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
										/>
										<path
											d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"
										/>
									</svg>
									Upload photo
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<label for="af-account-full-name" class="inline-block text-sm text-gray-800 mt-2.5">
						User name
					</label>
					<div class="inline-block hs-tooltip">
						<button type="button" class="ml-1 hs-tooltip-toggle">
							<svg
								class="inline-block w-3 h-3 text-gray-400"
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
								<path
									d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
								/>
							</svg>
						</button>
						<span
							class="absolute z-10 invisible inline-block w-40 px-2 py-1 text-xs font-medium text-center text-white transition-opacity bg-gray-900 rounded-md shadow-sm opacity-0 hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible"
							role="tooltip"
						>
							Displayed on public forums, such as Zouhair
						</span>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<div class="sm:flex">
						<input
							id="af-account-full-name"
							type="text"
							name="name"
							required
							autocomplete="off"
							placeholder="Your Name"
							class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg username inputToFocus focus:border-primary focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-50"
							value="<%= user.username %>"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<label for="af-account-email" class="inline-block text-sm text-gray-800 mt-2.5">
						Email
					</label>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<input
						id="af-account-email"
						type="email"
						name="email"
						required
						autocomplete="off"
						placeholder="Your Email"
						class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg inputToFocus focus:border-primary focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-50"
						value="<%= user.email %>"
					/>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<label for="af-account-password" class="inline-block text-sm text-gray-800 mt-2.5">
						Password
					</label>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<div class="space-y-2">
						<input
							id="af-account-password"
							type="text"
							class="block w-full px-3 py-2 text-sm border-gray-200 rounded-lg shadow-sm pr-11 focus:border-blue-500 focus:ring-blue-500"
							placeholder="Enter current password"
						/>
						<input
							type="text"
							class="block w-full px-3 py-2 text-sm border-gray-200 rounded-lg shadow-sm pr-11 focus:border-blue-500 focus:ring-blue-500"
							placeholder="Enter new password"
						/>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<div class="inline-block">
						<label for="af-account-phone" class="inline-block text-sm text-gray-800 mt-2.5">
							Phone
						</label>
						<span class="text-sm text-gray-400">(Optional)</span>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<div class="sm:flex">
						<input
							id="af-account-phone"
							type="text"
							class="relative block w-full px-3 py-2 -mt-px -ml-px text-sm border-gray-200 shadow-sm pr-11 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500"
							placeholder="+x(xxx)xxx-xx-xx"
						/>
						<select
							class="relative block w-full px-3 py-2 -mt-px -ml-px text-sm border-gray-200 shadow-sm pr-9 sm:w-auto first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500"
						>
							<option selected>Mobile</option>
							<option>Home</option>
							<option>Work</option>
							<option>Fax</option>
						</select>
					</div>

					<p class="mt-3">
						<a
							class="inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium"
							href="../docs/index.html"
						>
							<svg
								class="w-3.5 h-3.5"
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								viewBox="0 0 16 16"
							>
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
								<path
									d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
								/>
							</svg>
							Add phone
						</a>
					</p>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<label for="af-account-gender-checkbox" class="inline-block text-sm text-gray-800 mt-2.5">
						Gender
					</label>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<div class="sm:flex">
						<label
							for="af-account-gender-checkbox"
							class="relative flex block w-full px-3 py-2 -mt-px -ml-px text-sm border border-gray-200 shadow-sm first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500"
						>
							<input
								type="radio"
								name="af-account-gender-checkbox"
								class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 pointer-events-none focus:ring-blue-500"
								id="af-account-gender-checkbox"
								checked
							/>
							<span class="ml-3 text-sm text-gray-500">Male</span>
						</label>

						<label
							for="af-account-gender-checkbox-female"
							class="relative flex block w-full px-3 py-2 -mt-px -ml-px text-sm border border-gray-200 shadow-sm first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500"
						>
							<input
								type="radio"
								name="af-account-gender-checkbox-female"
								class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 pointer-events-none focus:ring-blue-500"
								id="af-account-gender-checkbox-female"
							/>
							<span class="ml-3 text-sm text-gray-500">Female</span>
						</label>

						<label
							for="af-account-gender-checkbox-other"
							class="relative flex block w-full px-3 py-2 -mt-px -ml-px text-sm border border-gray-200 shadow-sm first:rounded-t-lg last:rounded-b-lg sm:first:rounded-l-lg sm:mt-0 sm:first:ml-0 sm:first:rounded-tr-none sm:last:rounded-bl-none sm:last:rounded-r-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500"
						>
							<input
								type="radio"
								name="af-account-gender-checkbox-other"
								class="shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 pointer-events-none focus:ring-blue-500"
								id="af-account-gender-checkbox-other"
							/>
							<span class="ml-3 text-sm text-gray-500">Other</span>
						</label>
					</div>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-3">
					<label for="af-account-bio" class="inline-block text-sm text-gray-800 mt-2.5">BIO</label>
				</div>
				<!-- End Col -->

				<div class="sm:col-span-9">
					<textarea
						id="af-account-bio"
						class="block w-full px-3 py-2 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500"
						rows="6"
						placeholder="Type your message..."
					></textarea>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<div class="flex justify-end mt-5 gap-x-2">
				<button
					type="button"
					class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium text-gray-700 align-middle transition-all bg-white border rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600"
				>
					Cancel
				</button>
				<button
					type="button"
					class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-semibold text-white transition-all bg-blue-500 border border-transparent rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
				>
					Save changes
				</button>
			</div>
		</form>
	</div>
	<!-- End Card -->
</div>
<!-- End Card Section -->
<%- include("../components/loggedFooter"); %>
