<% if (user) { %> <%- include("../components/loggedHeader"); %> <% } else { %> <%-
include("../components/Header"); %> <% } %>
<section
	class="relative z-40 grid w-full min-w-full min-h-full grid-cols-9 gap-2 pt-24 pb-10 lg:max-w-full lg:mx-auto lg:px-20 xl:px-32"
>
	<div
		class="container relative z-10 col-span-9 px-4 pb-24 mx-auto mt-5 lg:border lg:border-slate-200 lg:rounded-lg xl:px-24"
	>
		<div class="grid">
			<div>
				<div class="flex flex-row flex-wrap items-start w-full py-5 mt-6 mb-4 gap-x-5 md:gap-x-0">
					<a
						href="/profile/<%= `@${profileUsername}` %>"
						class="relative block w-24 h-24 mb-5 overflow-hidden rounded-full bg-slate-400 md:mb-0 lg:w-32 lg:h-32"
					>
						<img
							src="<%= profileAvatar %>"
							class="block w-full h-full rounded-full"
							alt="user image"
							loading="lazy"
						/>
					</a>
					<div class="flex flex-col items-start md:flex-1 md:pl-5 lg:pl-8">
						<div class="flex flex-row flex-wrap items-start justify-between w-full">
							<div class="w-full pr-5 mb-5 md:mb-0 md:flex-1">
								<div class="flex flex-row items-center">
									<h1 class="text-3xl font-bold leading-9 text-">
										<a href="/profile/<%= `@${profileUsername}` %>">
											<span><%= locals.profileFullName || user.username%></span>
										</a>
									</h1>
								</div>
								<% if (locals.profileTagline) { %>
								<p class="mt-3 text-lg leading-5 text-slate-700"><%= locals.profileTagline%></p>
								<% } %>
							</div>
							<div class="flex flex-row-reverse md:flex-row">
								<div class="ml-2 md:ml-0 md:mr-3" title="Share">
									<details class="dropdown details">
										<summary
											class="inline-flex items-center justify-center gap-2 px-[0.7rem] py-1 text-[22px] border rounded-full border-slate-200 hover:bg-slate-200 focus:outline-none focus:ring-offset-white text-slate-500 font-normal transition-all duration-150 bg-transparent outline-none btn summary"
										>
											<i class="block ri-share-box-line"></i>
										</summary>
										<ul
											class="z-[1] w-40 mt-3 p-2 rounded shadow menu bg-base-100 dropdown-content"
										>
											<li>
												<a
													class="flex items-center w-full text-slate-900"
													href="https://twitter.com/intent/tweet?text=Check <%= profileUsername %> profile on https://hashnode.com/@ZouhairElyazji"
												>
													<span>
														<i class="text-xl ri-twitter-x-line"></i>
													</span>
													<span class="text-lg font-medium">Twitter</span>
												</a>
											</li>
											<li>
												<a
													href="https://www.linkedin.com/sharing/share-offsite/?url=https://hashnode.com/@ZouhairElyazji"
												>
													<span>
														<i class="text-2xl ri-linkedin-box-fill"></i>
													</span>
													<span class="text-lg font-medium">Linkedin</span>
												</a>
											</li>
										</ul>
									</details>
								</div>
								<% if (isProfileOwner) { %>
								<a
									href="/settings"
									class="flex flex-row items-center justify-center px-5 py-2 leading-7 text-center text-white transition-all duration-150 border border-blue-600 rounded-full bg-primary hover:shadow-lg hover:bg-primary/90"
								>
									<i class="mr-2 text-lg ri-pencil-line"></i>
									<span>Edit</span>
								</a>
								<% } else { %>
								<div class="ml-2 md:ml-0 md:mr-3" title="Report">
									<details class="dropdown details">
										<summary
											class="inline-flex items-center justify-center gap-2 px-[0.7rem] py-1 text-[22px] border rounded-full border-slate-200 hover:bg-slate-200 focus:outline-none focus:ring-offset-white text-slate-500 font-normal transition-all duration-150 bg-transparent outline-none btn summary"
										>
											<i class="block ri-arrow-down-s-line"></i>
										</summary>
										<ul
											class="z-[1] w-60 mt-3 p-2 rounded shadow menu bg-base-100 dropdown-content"
										>
											<li>
												<a class="flex items-center w-full text-slate-900" href="/report">
													<span>
														<i class="text-xl ri-spam-line"></i>
													</span>
													<span class="text-lg font-medium">Report this profile</span>
												</a>
											</li>
										</ul>
									</details>
								</div>
								<a
									href="#"
									class="flex flex-row items-center justify-center px-5 py-2 leading-7 text-center text-white transition-all duration-150 border border-blue-600 rounded-full bg-primary hover:shadow-lg hover:bg-primary/90"
								>
									<svg class="w-5 h-5 mr-2 fill-current" viewBox="0 0 384 512">
										<path
											d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"
										></path>
									</svg>
									<span>Follow</span>
								</a>
								<% } %>
							</div>
						</div>

						<div class="flex flex-wrap items-center mt-5 md:justify-center">
							<a href="#" class="mr-5 leading-8 text-slate-900">
								<span class="font-bold">35</span>
								Following
							</a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="flex flex-col flex-wrap items-start px-2 py-5 mb-5 border rounded-lg border-slate-200 text-slate-500 md:flex-row md:items-center md:justify-center"
			>
				<div
					class="flex flex-row flex-wrap items-center w-full mx-2 mb-2 md:justify-center lg:w-auto lg:mb-0"
				>
					<% if (locals.profileLinkedin) { %>
					<a
						href="<%= locals.profileLinkedin %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 448 512">
							<path
								d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileStackOverflow) { %>
					<a
						href="<%= locals.profileStackOverflow %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
							<path
								d="M17.36 20.2v-5.38h1.79V22H3v-7.18h1.8v5.38h12.56M6.77 14.32l.37-1.76 8.79 1.85-.37 1.76-8.79-1.85m1.16-4.21l.76-1.61 8.14 3.78-.76 1.62-8.14-3.79m2.26-3.99l1.15-1.38 6.9 5.76-1.15 1.37-6.9-5.75m4.45-4.25L20 9.08l-1.44 1.07-5.36-7.21 1.44-1.07M6.59 18.41v-1.8h8.98v1.8H6.59z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileTwitter) { %>
					<a
						href="<%= locals.profileTwitter %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 512 512">
							<path
								d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileGithub) { %>
					<a
						href="<%= locals.profileGithub %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 496 512">
							<path
								d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileWebsite) { %>
					<a
						href="<%= locals.profileWebsite %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
							<path
								d="M17.9 17.39c-.26-.8-1.01-1.39-1.9-1.39h-1v-3a1 1 0 0 0-1-1H8v-2h2a1 1 0 0 0 1-1V7h2a2 2 0 0 0 2-2v-.41c2.93 1.18 5 4.05 5 7.41 0 2.08-.8 3.97-2.1 5.39M11 19.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.22.21-1.79L9 15v1a2 2 0 0 0 2 2m1-16A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileWebsite) { %>
					<a
						href="<%= locals.profileFacebook %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 512 512">
							<path
								d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileYoutube) { %>

					<a
						href="<%= locals.profileYoutube %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 576 512">
							<path
								d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
							></path>
						</svg>
					</a>
					<% } %> <% if (locals.profileInstagram) { %>
					<a
						href="<%= locals.profileInstagram %>"
						target="_blank"
						rel="noopener"
						class="p-2 rounded-full hover:bg-slate-100"
					>
						<svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
							<path
								d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8 1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"
							></path>
						</svg>
					</a>
					<% } %>
				</div>

				<% if (locals.profileLocation) { %>
				<div class="flex flex-row flex-wrap items-center mx-2 mb-2 md:mb-0 md:justify-center">
					<svg class="w-4 h-4 mx-2 fill-current" viewBox="0 0 384 512">
						<path
							d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z"
						></path>
					</svg>
					<span><%= locals.profileLocation %></span>
				</div>
				<% } %>

				<div class="flex flex-row items-center mx-4 mb-4 md:mb-0">
					<svg class="w-4 h-4 mr-2 fill-current" viewBox="0 0 448 512">
						<path
							d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zM148 320h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 96h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm192 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12z"
						></path>
					</svg>
					<span>
						Member Since <%= profileJoinedDate.toLocaleString('en-US', { month: 'short', day:
						'numeric', year: 'numeric'}) %>
					</span>
				</div>
			</div>
		</div>

		<div class="grid mb-5">
			<div class="p-5 border rounded-lg md:px-10">
				<div class="flex flex-row items-center justify-between pb-5 mb-5 border-b">
					<h2 class="text-xl font-bold leading-7 text-slate-900">Articles</h2>
					<% if (isProfileOwner) { %>
					<a
						href="/settings/articles"
						class="flex flex-row items-center justify-center h-full px-3 py-1 ml-2 font-medium text-center border border-transparent rounded-full text-primary hover:bg-slate-200"
					>
						<svg class="w-5 h-5 mr-2 fill-current" viewBox="0 0 512 512">
							<path
								d="M482.696 299.276l-32.61-18.827a195.168 195.168 0 000-48.899l32.61-18.827c9.576-5.528 14.195-16.902 11.046-27.501-11.214-37.749-31.175-71.728-57.535-99.595-7.634-8.07-19.817-9.836-29.437-4.282l-32.562 18.798a194.125 194.125 0 00-42.339-24.48V38.049c0-11.13-7.652-20.804-18.484-23.367-37.644-8.909-77.118-8.91-114.77 0-10.831 2.563-18.484 12.236-18.484 23.367v37.614a194.101 194.101 0 00-42.339 24.48L105.23 81.345c-9.621-5.554-21.804-3.788-29.437 4.282-26.36 27.867-46.321 61.847-57.535 99.595-3.149 10.599 1.47 21.972 11.046 27.501l32.61 18.827a195.168 195.168 0 000 48.899l-32.61 18.827c-9.576 5.528-14.195 16.902-11.046 27.501 11.214 37.748 31.175 71.728 57.535 99.595 7.634 8.07 19.817 9.836 29.437 4.283l32.562-18.798a194.08 194.08 0 0042.339 24.479v37.614c0 11.13 7.652 20.804 18.484 23.367 37.645 8.909 77.118 8.91 114.77 0 10.831-2.563 18.484-12.236 18.484-23.367v-37.614a194.138 194.138 0 0042.339-24.479l32.562 18.798c9.62 5.554 21.803 3.788 29.437-4.283 26.36-27.867 46.321-61.847 57.535-99.595 3.149-10.599-1.47-21.972-11.046-27.501zm-65.479 100.461l-46.309-26.74c-26.988 23.071-36.559 28.876-71.039 41.059v53.479a217.145 217.145 0 01-87.738 0v-53.479c-33.621-11.879-43.355-17.395-71.039-41.059l-46.309 26.74c-19.71-22.09-34.689-47.989-43.929-75.958l46.329-26.74c-6.535-35.417-6.538-46.644 0-82.079l-46.329-26.74c9.24-27.969 24.22-53.869 43.929-75.969l46.309 26.76c27.377-23.434 37.063-29.065 71.039-41.069V44.464a216.79 216.79 0 0187.738 0v53.479c33.978 12.005 43.665 17.637 71.039 41.069l46.309-26.76c19.709 22.099 34.689 47.999 43.929 75.969l-46.329 26.74c6.536 35.426 6.538 46.644 0 82.079l46.329 26.74c-9.24 27.968-24.219 53.868-43.929 75.957zM256 160c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"
							></path>
						</svg>
						<span>Manage articles</span>
					</a>
					<% } %>
				</div>

				<% if (posts.length) { %>
				<div class="flex flex-col items-center gap-6 sm:gap-4 md:gap-5 lg:gap-6">
					<% posts.forEach((post) => { %>
					<article
						class="w-full first-of-type:border-t-0 border-t lg:!border border-slate-200 rounded-none lg:rounded-2xl pt-5 md:pt-8 lg:p-6 lg:pb-5 bg-white flex flex-col gap-4 md:gap-5"
					>
						<section class="flex flex-col gap-2 sm:gap-4">
							<div class="flex flex-col gap-6">
								<div class="flex flex-row items-center justify-between">
									<div class="flex flex-row items-center justify-start gap-3">
										<a class="rounded-full" href="<%= post.author.avatar %>">
											<div
												class="relative flex items-center justify-center w-10 h-10 overflow-hidden rounded-full cursor-pointer bg-slate-100"
											>
												<div class="w-full h-full">
													<img
														alt="<%= profileFullName %>"
														src="<%= post.author.avatar %>"
														decoding="async"
														class="object-cover"
														loading="lazy"
														class="absolute inset-0 w-full h-full text-transparent"
													/>
												</div>
											</div>
										</a>
										<div class="flex flex-col">
											<div class="flex flex-row items-center justify-start gap-1 text-sm">
												<div class="flex gap-2">
													<a href="/profile/<%= `@${profileUsername}` %>">
														<span class="font-semibold cursor-pointer text-slate-700">
															<%= profileFullName %>
														</span>
													</a>
												</div>
											</div>
											<div class="flex flex-row items-center justify-start gap-1">
												<div class="flex-row items-center justify-start hidden gap-1 sm:flex">
													<a
														target="_blank"
														rel="noopener"
														href="/profile/<%= `@${profileUsername}` %>"
													>
														<p class="hidden text-sm font-normal text-slate-500 sm:block">
															<%= `@${profileUsername}` %>
														</p>
													</a>
													<p class="hidden text-sm font-normal text-slate-500 sm:block">·</p>
												</div>
												<a target="_blank" rel="noopener" href="/blog/<%= post._id %>">
													<p class="text-sm font-normal text-slate-500">
														<%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate()
														%>,<%=post.createdDate.getFullYear() %>
													</p>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="flex flex-col w-full gap-4 md:gap-5">
								<div
									class="flex flex-col justify-between w-full gap-3 md:flex-row sm:gap-4 md:gap-6"
								>
									<div class="flex flex-col gap-1">
										<div>
											<a target="_blank" href="/blog/<%= post._id %>">
												<h1
													class="text-base font-semibold cursor-pointer font-heading sm:text-xl sm:font-bold text-slate-700 hn-break-words"
												>
													<%= post.title %>
												</h1>
											</a>
										</div>
										<div class="hidden md:block">
											<a target="_blank" href="/blog/<%= post._id %>">
												<span
													class="hidden text-base font-normal cursor-pointer text-slate-500 md:line-clamp-3"
												>
													<%= post.body %>
												</span>
											</a>
										</div>
									</div>
									<div
										class="w-full rounded-xl md:rounded-lg bg-slate-100 relative cursor-pointer md:basis-[180px] md:h-[108px] md:shrink-0"
									>
										<div class="md:hidden">
											<div class="relative w-full pb-[56.25%]">
												<div class="inset-0 absoltue">
													<a
														target="_blank"
														class="block w-full h-full overflow-hidden rounded-xl md:rounded-lg focus:outline-none"
														href="/blog/<%= post._id %>"
													>
														<span
															class="block overflow-hidden w-[initial] h-[initial] bg-none opacity-100 border-0 m-0 p-0 absolute inset-0"
														>
															<img
																alt="<%= post.title %>"
																src="<%= post.imgUrl %>"
																decoding="async"
																class="absolute inset-0 object-cover w-0 h-0 max-w-full max-h-full min-w-full min-h-full p-0 border-none rounded-xl"
															/>
														</span>
													</a>
												</div>
											</div>
										</div>
										<div class="hidden w-full h-full md:block">
											<a
												target="_blank"
												class="block w-full h-full overflow-hidden rounded-xl md:rounded-lg focus:outline-none"
												href="/blog/<%= post._id %>"
											>
												<span
													class="block overflow-hidden w-[initial] h-[initial] bg-none opacity-100 border-0 m-0 p-0 absolute inset-0"
												>
													<img
														alt="<%= post.title %>"
														src="<%= post.imgUrl %>"
														decoding="async"
														class="absolute inset-0 object-cover w-0 h-0 max-w-full max-h-full min-w-full min-h-full p-0 border-none rounded-xl"
													/>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="flex flex-col gap-5">
							<div class="flex flex-row items-center justify-between text-sm text-slate-600">
								<div class="flex flex-row items-center justify-start gap-2">
									<a href="/blog/<%= post._id %>">
										<div class="flex flex-row items-center gap-2 font-medium group text-slate-500">
											<svg fill="none" viewBox="0 0 20 20" width="20" height="20">
												<path
													stroke="currentColor"
													d="M8.709 14.155a4.793 4.793 0 0 1 5.412-6.55m-5.412 6.55a4.793 4.793 0 0 0 6.31 2.54c.1-.044.21-.06.317-.042l2.213.37c.18.03.337-.127.307-.307l-.371-2.21a.566.566 0 0 1 .041-.316 4.793 4.793 0 0 0-3.405-6.586m-5.412 6.55a5.845 5.845 0 0 1-2.682-.461.689.689 0 0 0-.385-.05l-2.695.45a.324.324 0 0 1-.373-.373l.452-2.69a.689.689 0 0 0-.05-.386 5.835 5.835 0 0 1 9.482-6.435 5.808 5.808 0 0 1 1.663 3.395"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="1.25"
												></path>
											</svg>
											<span class="text-slate-600 group-hover:underline">Discuss</span>
										</div>
									</a>
									<p class="font-bold text-slate-400">·</p>
									<p>10 likes</p>
								</div>
								<div class="flex flex-row items-center gap-1">
									<div class="items-center hidden gap-2 sm:flex">
										<a target="_blank" rel="noopener" href="/blog/<%= post._id %>">
											<div
												class="flex items-center justify-start gap-1 rounded-full px-2 py-1 bg-blue-50 hover:bg-blue-100 max-w-[220px] text-xs font-medium text-primary hover:text-primary text-left"
											>
												<div>
													<svg fill="none" viewBox="0 0 16 16" width="16" height="16">
														<path
															stroke="currentColor"
															d="M10.957 7.4V5M2.583 8h2.334M2.583 5.333h2.334m-2.334 5.334h2.334M5.764 14h5.639a2.007 2.007 0 0 0 2.014-2V4c0-1.105-.902-2-2.014-2h-5.64A2.007 2.007 0 0 0 3.75 4v8c0 1.105.902 2 2.014 2Z"
															stroke-linecap="round"
														></path>
													</svg>
												</div>
												<span class="truncate"><%= post.category %></span>
											</div>
										</a>
										<!-- Comment For Now -->
										<!-- <a href="/n/pwa?source=tags_feed_article">
													<div
														class="flex justify-start items-center rounded-full px-2 py-1 cursor-pointer text-xs font-medium text-slate-600 bg-slate-100 hover:bg-slate-200 w-min max-w-[126px] truncate text-left"
													>
														<span class="truncate">PWA</span>
													</div>
												</a> -->
										<div class="w-px h-3 bg-slate-200"></div>
									</div>
									<button class="bookmark-button group">
										<span class="text-slate-500 group-hover:text-blue-600">
											<svg fill="none" viewBox="0 0 20 20" width="20" height="20">
												<path
													stroke="currentColor"
													d="M10 6.77v1.874m0 0v1.875m0-1.875h1.875m-1.875 0H8.125M7.083 2.5h5.834a2.5 2.5 0 0 1 2.5 2.5v12.5l-4.98-3.065a.833.833 0 0 0-.874 0L4.583 17.5V5a2.5 2.5 0 0 1 2.5-2.5Z"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="1.25"
												></path>
											</svg>
										</span>
									</button>
								</div>
							</div>
						</section>
					</article>
					<% }) %>
				</div>
				<% } else { %>
				<div
					class="flex flex-col items-center justify-center w-full h-20 italic font-medium text-slate-500"
				>
					<% if (isProfileOwner) { %>
					<div class="flex flex-row items-center my-2">
						<a
							href="/create-post"
							class="inline-flex items-center justify-center px-4 py-1 font-medium leading-6 text-center border rounded-full border-slate-200 text-align text-slate-700 outline-transparent hover:bg-slate-200"
						>
							<i class="mr-1 text-2xl ri-pencil-line"></i>
							<span>Create Article</span>
						</a>
					</div>
					<% } %>
					<p>No articles to display</p>
				</div>
				<% } %>
			</div>
		</div>

		<div class="grid grid-cols-9 mb-5">
			<div class="grid grid-cols-6 col-span-9 gap-5">
				<div
					class="col-span-6 min-h-[30vh] border border-slate-200 rounded-lg p-5 md:px-10 lg:col-span-2"
				>
					<h2 class="mb-5 text-xl font-bold leading-7 text-slate-900">About me</h2>
					<% if (locals.profileBio) { %>
					<div class="max-w-[65ch] text-slate-600 text-base leading-7 break-normal">
						<p><%= locals.profileBio %></p>
					</div>
					<% } else { %> <% if (isProfileOwner) { %>
					<div class="flex flex-row items-center my-2">
						<a
							href="/settings#moreAbout"
							class="inline-flex items-center justify-center px-4 py-1 font-medium leading-6 text-center border rounded-full border-slate-200 text-align text-slate-700 outline-transparent hover:bg-slate-200"
						>
							<i class="mr-1 text-2xl ri-add-fill"></i>
							<span>Add Bio</span>
						</a>
					</div>
					<p class="mb-2 text-sm italic font-medium text-slate-500">
						Your bio is empty. Tell the world who you are by writing a short description about you.
					</p>
					<% } else { %>
					<div
						class="flex flex-row items-center justify-center w-full h-20 italic font-medium text-slate-500"
					>
						<p>No bio to display</p>
					</div>
					<% }%> <% } %>
				</div>

				<div
					class="col-span-6 min-h-[30vh] border border-slate-200 rounded-lg p-5 md:px-10 md:col-span-3 lg:col-span-2"
				>
					<h2 class="mb-5 text-xl font-bold leading-7 text-slate-900">My Tech Stack</h2>
					<% if (locals.profileTechStack) { %>
					<div class="flex flex-row flex-wrap items-center break-normal">
						<%= locals.profileTechStack%>
					</div>
					<% } else { %> <% if (isProfileOwner) { %>
					<div class="flex flex-row items-center">
						<a
							href="/settings#techstack"
							class="inline-flex items-center justify-center px-4 py-1 font-medium leading-6 text-center border rounded-full border-slate-200 text-align text-slate-700 outline-transparent hover:bg-slate-200"
						>
							<i class="mr-1 text-2xl ri-add-fill"></i>
							<span>Add your skills</span>
						</a>
					</div>
					<% } else { %>
					<div
						class="flex flex-row items-center justify-center w-full h-20 italic font-medium text-slate-500"
					>
						<p>No tech stack available</p>
					</div>
					<% }%> <% } %>
				</div>

				<div
					class="col-span-6 min-h-[30vh] border border-slate-200 rounded-lg p-5 md:px-10 md:col-span-3 lg:col-span-2"
				>
					<h2 class="mb-5 text-xl font-bold leading-7 text-slate-900">I am available for</h2>
					<% if (locals.profileAvailableFor) { %>
					<div class="max-w-[65ch] text-slate-600 text-sm leading-6 font-medium break-normal">
						<p><%= locals.profileAvailableFor %></p>
					</div>
					<% } else { %> <% if (isProfileOwner) { %>
					<div class="flex flex-row items-center">
						<a
							href="/settings#avalibleFor"
							class="inline-flex items-center justify-center px-4 py-1 font-medium leading-6 text-center border rounded-full border-slate-200 text-align text-slate-700 outline-transparent hover:bg-slate-200"
						>
							<i class="mr-1 text-2xl ri-add-fill"></i>
							<span>Add Available For</span>
						</a>
					</div>
					<% } else { %>
					<div
						class="flex flex-row items-center justify-center w-full h-20 italic font-medium text-slate-500"
					>
						<p>Nothing to show</p>
					</div>
					<% }%> <% } %>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-9 mb-20">
			<div class="col-span-9 p-5 border rounded-lg border-slate-200">
				<h2 class="mb-5 text-xl font-bold leading-7 text-slate-900">Recent Activity</h2>
				<div class="flex flex-row">
					<div
						class="flex flex-col items-center w-24 py-4 text-sm font-medium leading-5 text-slate-500"
					>
						<p>
							<%= profileJoinedDate.toLocaleString('en-US', { month: 'short', day: 'numeric', year:
							'numeric'}) %>
						</p>
					</div>
					<div class="flex-1 ml-4">
						<div class="py-4 border-b">
							<div
								class="flex flex-row items-center mb-1 text-sm font-medium leading-5 text-slate-500"
							>
								<span>Joined Zouhair Blog</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<% if (user) { %> <%- include("../components/loggedNav"); %> <%-
include("../components/loggedFooter"); %> <% } else { %> <%- include("../components/Footer"); %> <%
} %>
